<div class="container">
  <mat-card class="card-width-toolbar">
    <mat-toolbar class="toolbar" color="primary">
      <h1 class="titulo-toolbar">Arranchamento Individual</h1>
    </mat-toolbar>

    <div class="container">
      <mat-card class="card-width-conteudo">
        <app-escolher-refeicao [data]="data1"></app-escolher-refeicao>
        <app-escolher-refeicao [data]="data2"></app-escolher-refeicao>
        <app-escolher-refeicao [data]="data3"></app-escolher-refeicao>
        <app-escolher-refeicao [data]="data4"></app-escolher-refeicao>
        <app-escolher-refeicao [data]="data5"></app-escolher-refeicao>
        <app-escolher-refeicao [data]="data6"></app-escolher-refeicao>
        <app-escolher-refeicao [data]="data7"></app-escolher-refeicao>
      </mat-card>
    </div>

    <div class="botao-div">
      <button class="botao" mat-raised-button color="primary"> Arranchar </button>
    </div>
  </mat-card>
</div>
