.container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-width-toolbar{
  width: 50%;
}

.card-width-conteudo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.toolbar{
  display: flex;
  justify-content: center
}

.titulo-toolbar{
  font-size: 50px;
  font-weight: bold;

}

.card-dia{
  width: 75px;
  margin-left: 20px;
}

.toolbar-dia{
  display: flex;
  height: 30px;
  margin-bottom: 10px;
  justify-content: center;
  border-radius: 4px;
}

.botao-div{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
