<div class="center">
  <mat-card class="width">

    <h1 class="container-titulo">ARRANCHAMENTO</h1>

    <div class="container">

      <div class="container-botao">
        <button class="botao" mat-raised-button color="primary">CCS</button>
        <button class="botao" mat-raised-button color="primary">MNT</button>
        <button class="botao" mat-raised-button color="primary">NPOR</button>
        <button class="botao" mat-raised-button color="primary">CRO/3</button>
        <button class="botao" mat-raised-button color="primary">DMAT</button>
        <button class="botao" mat-raised-button color="primary">DTTI</button>
      </div>

    </div>
  </mat-card>
</div>
