.card-dia {
  width: 80px;
  margin-left: 20px;
}

.toolbar-dia {
  display: flex;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
  border-radius: 4px;
  font-size: 14px;
}

.d-flex{
  display: flex;
  flex-direction: row;
}

.botao-div{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
