<div class="container">
<mat-toolbar class="toolbar" color="primary">
    <div>Parque Regional de Manutenção da 3ª Região Militar</div>
    <div class="example-button-row">
      <button class="botao" mat-raised-button routerLink="/">INÍCIO</button>
      <button class="botao" mat-raised-button routerLink="/administrador-home">ADM</button>
      <button class="botao" mat-raised-button routerLink="/administrador-arranchamento">ARRANCHAMENTO</button>
      <button class="botao" mat-raised-button routerLink="/relatorio">RELATÓRIO</button>
      <button class="botao" mat-raised-button [matMenuTriggerFor]="menu">CADASTRAR</button>
      <mat-menu #menu="matMenu">
        <button class="botao-menu" mat-button routerLink="cadastrar-administrador">ADMINISTRADOR</button>
        <button class="botao-menu" mat-button routerLink="cadastrar-efetivo">EFETIVO</button>
      </mat-menu>
      <button class="botao" mat-raised-button routerLink="/">SAIR</button>
    </div>
</mat-toolbar>
</div>
<router-outlet></router-outlet>
