.container-titulo{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
}

.container{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.container-botao{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.botao{
  width: 350px;
  height: 70px;
  font-size: 30px;
  margin-top: 15px;
  color: white;
}

.logo{
  margin-bottom: 10px;
}

.logo-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.width{
  width: 50%;
}

.center{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
