<div class="center">
<mat-card class="width">
  <div class="logo-container">
    <h1 class="container-titulo">ADMINISTRAÇÃO</h1>
    <div class="logo"><img src="assets\images\pq3_logo_big.png" ></div>
  </div>

  <div class="container">
    <div class="container-botao">
      <button class="botao" mat-raised-button color="primary" routerLink="/administrador-arranchamento">Arranchamento</button>
      <button class="botao" mat-raised-button color="primary" routerLink="/escala">Escala</button>
      <button class="botao" mat-raised-button color="primary" routerLink="/relatorio">Relatório</button>
    </div>

    <div class="container-botao">
      <button class="botao" mat-raised-button color="primary" routerLink="/cadastrar-administrador">Cadastro Administrador</button>
      <button class="botao" mat-raised-button color="primary" routerLink="/cadastrar-efetivo">Cadastro Efetivo</button>
      <button class="botao" mat-raised-button color="primary" >Sair</button>
    </div>
  </div>
</mat-card>
</div>
