.container-main{
  display: flex;
  justify-content: center;
  margin-top: 20px
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-width-conteudo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.toolbar{
  display: flex;
  justify-content: center
}

.titulo-toolbar{
  font-size: 50px;
  font-weight: bold;

}

.botao-div{
  display: flex;
  justify-content: center;
}

.botao{
  width: 150px;
  height: 50px;
  font-size: 25px;
}

.conteudo-celula{
  display:flex;
  flex-direction: column;
}

.conteudo-tabela{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-conteudo{
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
}

.card-conteudo-tabela{
  width: 74%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: rgb(38, 186, 9);
  color: black;
  margin-bottom: 10px;
}

